<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <title>Chess Duels</title>
  </head>
  <body>
    <h1><%= text%></h1>
    <a href="game/">Start</a>
    <button onclick='game/'>game</button>
  </body>
</html>
